* {
    background-color: var(--primary1);
}

body{
    margin: 1rem 20%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.85rem;
    color: var(--primary2);
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid var(--primary3);
    margin-bottom: 1rem;
}

.phone{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content:center
}

.phone__icon{
 height: 0.85rem;
 margin-right: 0.3rem;
 /*filter: invert(53%) sepia(1%) saturate(0%) hue-rotate(164deg) brightness(94%) contrast(84%);*/
}
.ddd{
    font-size: 0.7rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.logo__img {
    width: 8rem;
}

.more{
   display: none;
}

.grid{
    display: grid;
    grid-template-columns: calc(20% - 0.8rem) calc(20% - 0.8rem) calc(20% - 0.8rem) calc(20% - 0.8rem) calc(20% - 0.8rem);
    grid-template-rows: fit-content;
    height: fit-content;
    gap: 2rem 1rem;
    border-bottom: 1px solid var(--primary3);
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.grid__cell{
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
}

.photo{
    width: 100%;
}

.description {
    color: var(--primary4);
    font-weight: bold;
    border-bottom: 1px solid var(--primary3);
    padding-bottom: 0.3rem;
}

.footer__upper {
    width: 100%;
    display: flex;
    border-bottom: 0.4rem solid;
    padding-bottom: 1rem;
    border-image: radial-gradient(var(--primary2) ,var(--primary1)) 1;
    margin-bottom: 0.3rem;
}

.about {
    display: flex;
    width: 70%;
}

.social {
    width: 30%;
}

.portrait {
    width: 20%;
    padding-right: 2%;
}

 .portrait img {
     width: 100%;
 }

 .about__text{
     width: 75%;
     line-height: 1rem;
 }

 .name {
     color: var(--primary5);
     font-size: 1rem;
     font-weight: bold;
 }

 .paragraph {
     font-size: 0.7rem;
 }

 .social__header {
     color: var(--primary5);
     font-weight: bold;
 }

 .social__icon {
    height: 1rem;
    padding-right: 0.3rem;
 }

 .social__media li{
    color: var(--primary5);
    display: flex;
    align-items: center;
 }

 .footer__lower {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .footer__lower__right {
     display: flex;
     align-items: center;
 }

 .footer__lower__right img{
     height: 1rem;
     padding-left: 0.3rem;
     padding-right: 0.1rem;
 }

 .footer__text{
     font-size: 0.6rem;
 }

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 6.25rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: var(--primary5);
    background-color: var(--primary5-opacity); 
}
  
.modalContent {
background-color: var(--primary1);
margin: auto;
padding: 1.25rem;
border: 1px solid var(--primary2);
width: 40%;
}
.modalImg, .modalText{
    width: 100%;
}

 @media only screen and (max-width: 900px) {    
    body{
        margin: 1rem 10%;
    }
 }

 @media only screen and (max-width: 800px) {
    .navigation .page:nth-child(7){
       display: none;
    }

    .more{
        display: inline-block;
    }
}

@media only screen and (max-width: 700px) {
    .navigation .page:nth-child(6){
       display: none;
    }

    .grid{
        grid-template-columns: calc(25% - 0.8rem) calc(25% - 0.8rem) calc(25% - 0.8rem) calc(25% - 0.8rem);
        gap: 2rem 1rem;
    }

    .footer__upper, .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     .footer__upper{
         gap: 0.3rem;
     }

    .about, .social{
        width: 100%;
    }

    .modalContent{
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .navigation .page:nth-child(5){
       display: none;
    }

    .modalContent{
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    body{
        margin: 1rem 5%;
    }

    .grid{
        grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
        gap: 2rem 1rem;
    }
   
    .modalContent{
        width: 80%;
    }
   
}

@media only screen and (max-width: 450px) {
    header{
        flex-direction: column;
    }

    .phone{
        align-self: center;
        padding: 0.3rem 0;
    }
}